[submodule "instock-backend"]
	path = instock-backend
	url = https://github.com/AbdulMiah/instock-backend.git
[submodule "instock-mobile"]
	path = instock-mobile
	url = https://github.com/AbdulMiah/instock-mobile.git
